*{outline:0px;}

body
{
	background-color: black;
}

.page{
	padding: 10px;
	background-color: black;
}

.article{
	padding: 3px;
}

.titre, .date{
	font-size: 1.5em;
	line-height: 2em;
	vertical-align: middle;
}

.titre{
	font-weight: bold;
	color: #ff0000;
}

.date{
	color:#aaaaaa;
}

.texte{
	margin-bottom: 20px;
	min-width: 100%;
	max-width: 100%;
	background-color: #000;
	color:#ddd;
	border: 2px solid #555;
	border-radius: 15px;
	font-size: 1.2em;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}



.form_field input, .form_field textarea
{
	margin-bottom: 20px;
	min-width: 100%;
	max-width: 100%;

	background-color: #000;
	color:#eee;

	border: 2px solid #663300;
	border-radius: 15px;

	font-size: 1.2em;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.form_field input:focus, .form_field textarea:focus
{
	background-color: #111;
}

.form_field textarea
{
	min-height: 300px;
}

.btn_form
{
	background-color: #441100;
	color:#eee;
	border: 2px solid #663300;
	border-radius: 15px;
}

.btn_form:hover
{
	background-color: #552200;
	color:#eee;
	cursor:pointer;
}

.citation{
	color:yellow;
}